<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>
<h1>Your Profile</h1>
<p>Welcome, <span sec:authentication="name"></span>!</p>

<div th:if="${user}">
    <p>Name: <span th:text="${user.name}"></span></p>
    <p>Email: <span th:text="${user.email}"></span></p>
    <p>Email: <span th:text="${user.lastname}"></span></p>
    <p>Email: <span th:text="${user.age}"></span></p>
</div>

<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>